<div class="row mx-0">
    <div class="col-12 py-3">
        <div class="row mx-0 justify-content-center">
            <div class="col-8">
                <div class="row mx-0">
                    <div class="col-12 mat-elevation-z1 p-3 my-2" *ngFor="let post of userPost" style="background-color:#fffff6">
                        <div class="" style="color: #373737;">
                            {{post.title}}
                        </div>
                        <div class="" style="color: #979797;">
                            {{post.body}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>